<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner navbar-top">
    </div>
    <div class="navbar-inner navbar-bottom">
        <div class="container">
            <a class="brand" href="/" title="{{ "core.homepage" | trans }}"></a>
        </div>
    </div>
</div>