{% extends "RtxLabsUserBundle::base.html.twig" %}

{% block main %}
<div id="user-main" class="full-block clearfix">
</div>

{% include 'RtxLabsUserBundle:User:myAccountTemplate.html.twig' %}
{% include 'RtxLabsUserBundle:Admin:userListTemplate.html.twig' %}
{% include 'RtxLabsUserBundle:Admin:userListRowTemplate.html.twig' %}
{% include 'RtxLabsUserBundle:Admin:userEditTemplate.html.twig' with {'roles': roles, 'groups': groups} %}

{% endblock %}

{% block javascripts %}

{{ parent() }}

{% javascripts
            '@RotexSbpCoreBundle/Resources/public/js/md5.js'
            '@RotexSbpCoreBundle/Resources/public/js/core_gravatar.js'
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts
    '@RtxLabsUserBundle/Resources/public/js/Application.js'
    '@RtxLabsUserBundle/Resources/public/js/Model/Group.js'
    '@RtxLabsUserBundle/Resources/public/js/Collection/GroupCollection.js'
    '@RtxLabsUserBundle/Resources/public/js/Filter/UserFilter.js'
    '@RtxLabsUserBundle/Resources/public/js/Model/User.js'
    '@RtxLabsUserBundle/Resources/public/js/Collection/UserCollection.js'
    '@RtxLabsUserBundle/Resources/public/js/View/MyAccountView.js'
    '@RtxLabsUserBundle/Resources/public/js/View/UserListRowView.js'
    '@RtxLabsUserBundle/Resources/public/js/View/UserListView.js'
    '@RtxLabsUserBundle/Resources/public/js/View/UserEditView.js'
    '@RtxLabsUserBundle/Resources/public/js/Router/AdminRouter.js'
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    App.User.initAdminModule();
</script>
{% endblock %}

