<script type="text/template" id="group-list-template">
    <div class="article-container">
        <header>
            <h2>{{ "rtxlabs.user.group.header" | trans }}</h2>
        </header>
        <section>
            <div class="crud-actions">
                <a href="#new" class="btn xsmall info">{{ "rtxlabs.user.group.label.add" | trans }}</a>
            </div>
            <br/>
            <form class="table-form">
                <table class="bordered-table zebra-striped table-condensed">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>{{ "rtxlabs.user.group.label.name" | trans }}</th>
                        <th>{{ "rtxlabs.user.group.label.user_amount" | trans }}</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody id="list-table-body">

                    </tbody>
                </table>
            </form>
        </section>
    </div>
</script>