<script type="text/template" id="group-list-row-template">
    <td><%= name %></td>
    <td><%= userCount %></td>
    <td>
        <ul class="crud-actions">
            <li><a class="edit" href="#edit/<%= id %>" title="{{ "core.general.tooltip.edit" | trans }}" rel="tooltip">{{ "core.general.label.edit" | trans }}</a></li>
            <li><a class="delete" href="#" title="{{ "core.general.tooltip.delete" | trans }}" rel="tooltip">{{ "core.general.label.delete" | trans }}</a></li>
        </ul>
    </td>
</script>