{% extends "RtxLabsUserBundle::base.html.twig" %}

{% block main %}
<div id="group-main" class="full-block clearfix">
</div>

{% include 'RtxLabsUserBundle:Group:groupListTemplate.html.twig' %}
{% include 'RtxLabsUserBundle:Group:groupListRowTemplate.html.twig' %}
{% include 'RtxLabsUserBundle:Group:groupEditTemplate.html.twig' with {'roles': roles} %}

{% endblock %}

{% block javascripts %}

{{ parent() }}

{% javascripts
            '@RtxLabsUserBundle/Resources/public/js/Application.js'
            '@RtxLabsUserBundle/Resources/public/js/Model/Group.js'
            '@RtxLabsUserBundle/Resources/public/js/Collection/GroupCollection.js'
            '@RtxLabsUserBundle/Resources/public/js/View/GroupListRowView.js'
            '@RtxLabsUserBundle/Resources/public/js/View/GroupListView.js'
            '@RtxLabsUserBundle/Resources/public/js/View/GroupView.js'
            '@RtxLabsUserBundle/Resources/public/js/Router/GroupRouter.js'
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    App.User.initGroupModule();
</script>
{% endblock %}

