<ol id ="user-tos-list">
    <li>
        <b>Anwendungsbereich</b>
        <ol>
            <li>
                Diese allgemeinen Geschäftsbedingungen („Nutzungsbedingungen“) sind eine rechtsverbindliche Vereinbarung zwischen Ihnen („Nutzer“) und der ROTEX Heating Systems GmbH mit Geschäftssitz in der Langwiesenstraße 10, 74363 Güglingen, Deutschland („ROTEX“ oder „Diensteanbieter“) und beziehen sich auf  die Nutzung der ROTEX control App („Software“) für die Plattform iOS und stellen die Gesamtheit der Vereinbarungen zwischen ROTEX und Ihnen dar. Diese Nutzungsbedingungen sollen alle gegenstehenden Bestimmungen und Bedingungen des Nutzers ausdrücklich ersetzen. Abweichungen sind nur gültig, sofern sie von uns schriftlich bestätigt wurden. Somit sollen sich die Rechte der beiden Parteien ausschließlich nach den hier festgelegten Richtlinien, Bestimmungen und Bedingungen richten.
                Durch Benutzen der Software erklären Sie sich damit einverstanden, an diese Nutzungsbedingungen gebunden zu sein. Sollten Sie sich nicht damit einverstanden erklären, so sind Sie nicht berechtigt die Software in irgendeiner Art und Weise zu nutzen.
            </li>
            <li>
                Diese Nutzungsbedingungen können für bestimmte Software durch weitere Bedingungen modifiziert oder ergänzt werden
            </li>
        </ol>
    </li>
    <li>
        <b>Rechte von ROTEX</b>
        <ol>
            <li>
                Alle Rechte an der Software sowie an sämtlichen authorisierten Kopien – insbesondere das Urheberrecht, die Rechte an Erfindungen sowie technische Schutzrechte – stehen im Verhältnis zum Kunden ausschließlich uns zu. Der Kunde hat an der Software nur die in Ziffern 3. bis 5. genannten nicht ausschließlichen Befugnisse
            </li>
            <li>
                ROTEX ist Lizenznehmer oder besitzt alle Rechte des geistigen Eigentums an der Software und ihren Inhalten. Der Nutzer erhält keine Rechte an diesem geistigen Eigentum in irgendeiner Weise, die nicht in diesen Nutzungsbedingungen festgehalten ist.
            </li>
        </ol>
    </li>
    <li>
        <b>Nutzungsrecht, Dekompilierung</b>
        <ol>
            <li>
                Der Kunde erhält an der Software ein einfaches (nicht ausschließliches) Recht zur Nutzung der Software. Das Nutzungsrecht ist auf den von ROTEX vorgegebenen Zeitraum begrenzt, in Ermangelung einer solchen Vorgabe ist das Nutzungsrecht unbefristet.
            </li>
            <li>
                Das Ändern, Anpassen, Übersetzen oder Erstellen von Bearbeitungen der Software ist dem Kunden nicht gestattet. Der Kunde darf die Software nicht zurückentwickeln, dekompilieren bzw. disassemblieren oder auf eine andere Weise versuchen, den Quellcode der Software zu ermitteln, ausgenommen in dem Maße, in dem der Kunde gemäß geltendem Recht eine Rückentwicklung oder Dekompilierung vornehmen darf.
            </li>
            <li>
                Soweit wir an der Software nur ein abgeleitetes Nutzungsrecht besitzen, gelten zusätzlich und vorrangig vor den Bestimmungen dieser Ziffer 3. die zwischen uns und unserem Lizenzgeber vereinbarten Nutzungsbedingungen. Falls und soweit dem Kunden Open Source Software überlassen wird, gelten zusätzlich und vorrangig vor den Bestimmungen dieser Ziffer 3. die Nutzungsbedingungen, denen die Open Source Software unterliegt. Bei Verletzung dieser Nutzungsbedingungen durch den Kunden ist neben uns auch unser Lizenzgeber berechtigt, die daraus entstehenden Ansprüche und Rechte im eigenen Namen geltend zu machen.
            </li>
            <li>
                Jede Nutzung der Software, die über die Regelungen in diesen Nutzungsbedingungen hinausgeht, bedarf unserer schriftlichen Zustimmung.
            </li>
            <li>
                ROTEX behält sich vor in Zukunft eine Nutzungsgebühr für die Verwendung der Software zu erheben.
            </li>
            <li>
                ROTEX behält sich das Recht vor, diese Nutzungsbedingungen von Zeit zu Zeit zu modifizieren und sie der technischen sowie rechtlichen Entwicklung anzupassen. Der Nutzer wird auf die Veränderung gesondert hingewiesen.
            </li>
            <li>
                Gleichzeitig erklären Sie sich mit den gültigen Nutzungsbedingungen von Apple einverstanden. Diese sind unter http://www.apple.com/legel/terms/ zu finden.
            </li>
        </ol>
    </li>
    <li>
        <b>Weitergabe</b>
        <p>Mit Ausnahme der nach diesen Nutzungsbedingungen ausdrücklich erlaubten Fälle darf der Kunde die Rechte an der Software nicht  vermieten, verleihen, unterlizenzieren, exportieren, abtreten oder übertragen oder das Kopieren der Freeware weder in Teilen noch als Ganzes auf den Computer eines anderen Benutzers genehmigen. Der Kunde darf jedoch alle seine Rechte zur Verwendung der Freeware auf eine andere natürliche oder juristische Person unter der Voraussetzung übertragen, dass: (a) der Kunde (i) die vorliegenden Nutzungsbedingungen und (ii) die Freeware und sonstige Software oder Hardware, die mit der Software gebündelt oder auf dieser vorinstalliert ist, einschließlich aller Kopien, Updates und früherer Versionen an diese natürliche oder juristische Person übertragen, (b) der Kunde keine Kopien, einschließlich Sicherungskopien und sonstiger Kopien, die auf einem Computer gespeichert sind, zurückbehält und (c) der Empfänger die Bestimmungen dieser Nutzungsbedingungen sowie sonstige Bestimmungen akzeptiert, nach denen der Kunde eine gültige Softwarelizenz erworben hat.</p>
    </li>
    <li>
        <b>Markennamen/ Markenzeichen</b>
        <ol>
            <li>
                Alle Markennamen und Markenzeichen die in der Software dargestellt werden und jetzt oder zukünftig zu ROTEX gehören sind alleiniges Eigentum oder lizensiert von ROTEX oder seinen Tochtergesellschaften. Die Nutzung der Software darf nicht als Genehmigung zum Lizensieren oder als Nutzungsrecht jeglicher Markennamen und -Zeichen, die in der Software dargestellt werden, gesehen werden.
            </li>
        </ol>
    </li>
    <li>
        <b>Mängel, Haftung</b>
        <ol>
            <li>
                Die Software wurde von ROTEX mit größter Sorgfalt erstellt. Eine Haftung für Sach- und Rechtsmängel der Freeware, insbesondere für deren Richtigkeit, Fehlerfreiheit, Freiheit von Schutz- und Urheberrechten Dritter, Vollständigkeit und/oder Verwendbarkeit ist - außer bei Vorsatz oder Arglist – ausgeschlossen.
            </li>
            <li>
                Die Nutzung des Internets erfolgt auf eigene Gefahr des Nutzers. ROTEX haftet vor allem nicht für den technisch bedingten Ausfall des Internets bzw. des Zugangs zum Internet oder für Netzwerkprobleme.
            </li>
            <li>
                Im Übrigen ist jegliche Haftung von ROTEX ausgeschlossen, soweit nicht z.B. nach dem Produkthaftungsgesetz, wegen Vorsatzes, grober Fahrlässigkeit, wegen Verletzung des Lebens, des Körpers oder Gesundheit, wegen der Übernahme einer Beschaffenheitsgarantie, wegen arglistigen Verschweigens eines Mangels zwingend gehaftet wird.
            </li>
            <li>
                Eine garantierte Verfügbarkeit der Dienste wird von ROTEX ausgeschlossen
            </li>
            <li>
                Sie erklären sich damit einverstanden, dass Sie unter keinen Umständen Forderungen gegen ROTEX oder zugehörige Firmen, weder als Angestellter, Subunternehmer, Vertreter, Berater, Installateur oder sonstiges wegen Verlust, Schäden, Verletzungen, Krankheit, Kosten, Arbeitsunterbrechung, Verlust von Geschäftsinformationen, Störung von Arbeitsabläufen, Fehlern am Computer oder Fehlfunktion die Ihnen oder dritten in irgendeiner Weise in Verbindung mit der Software oder ihren Inhalten entstanden sind erheben, auch wenn sich ROTEX des Risikos bewusst war oder hätte bewusst sein sollen. Im größtmöglichen, vom anwendbaren Recht erlaubten Umfang, haftet ROTEX nicht für irgendwelche direkten, indirekten, generellen, speziellen, zufälligen Schadensersatzverpflichtungen und/oder Folgeschäden durch die Benutzung oder Unfähigkeit zur Benutzung der Software und/oder der Interpretation ihres Inhalts
            </li>
        </ol>
    </li>
    <li>
        <b>Geheimhaltung und Datenschutz</b>
        <ol>
            <li>
                Vor Nutzung der Software muss der Nutzer seinen Namen sowie seine Email-Adresse angeben. ROTEX holt diese Daten nur ein, wenn Sie sich dazu entschieden haben, die Software herunterzuladen und zu nutzen. Dadurch zeigen Sie Interesse an den Inhalten und entsprechend könnten Ihre Daten den Mitgliedern unserer  Marketingabteilung oder den Marketing-Verantwortlichen unserer Tochtergesellschaften und/oder unabhängigen Vertreibern zugänglich gemacht werden, um Sie über die Software und ihre Inhalte zu informieren. Ihre Daten werden in keiner anderen Weise genutzt.
				ROTEX lenkt diese persönlichen Daten und handelt stets im Sinne des deutschen Gesetzes zum Schutz vor Missbrauch personenbezogener Daten bei der Datenverarbeitung („Datenschutzgesetz“). In Übereinstimmung mit dem deutschen Datenschutzgesetz haben Sie das Recht auf Zugänglichkeit und Korrektur Ihrer persönlichen Daten sowie Beanstandung der Weiterverarbeitung dieser. Wenn Sie diese Rechte in Anspruch nehmen möchten, so sind diese gebührenfrei und können unter [Datenschutz@rotex.de] angefragt werden.
            </li>
            <li>
                Die Vertragspartner verpflichten sich, alle im Rahmen der Zusammenarbeit erlangten Kenntnisse von vertraulichen Informationen und Betriebsgeheimnissen des jeweils anderen Vertragspartners zeitlich unbegrenzt vertraulich zu behandeln und nur im Rahmen der Auftragserfüllung zu verwenden. Zu unseren Betriebsgeheimnissen gehört auch die Software.
            </li>
            <li>
                Der Kunde hat bei der Nutzung der Software die Regeln des Datenschutzrechts zu beachten. Im Falle der Zuwiderhandlung gegen die vorstehenden Verpflichtungen stellt uns der Kunde von jeglichen Ansprüchen, auch öffentlich-rechtlicher Natur, frei.
            </li>
        </ol>
    </li>
    <li>
        <b>Ergänzungen</b>
        <ol>
            <li>
                ROTEX behält sich das Recht vor, neue Versionen der Software zu veröffentlichen (inklusive Veränderungen in Funktion oder Oberfläche), die vorherige Versionen ersetzen können oder den Softwareinhalt von Zeit zu Zeit nach Ermessen von ROTEX und ohne vorherige Ankündigung zu aktualisieren.
            </li>
        </ol>
    </li>
    <li>
        <b>Schlussbestimmungen</b>
        <ol>
            <li>
                Gerichtsstand ist nach unserer Wahl das für unseren Sitz oder das für den Sitz des Kunden zuständige Gericht, sofern der Kunde Kaufmann, eine juristische Person des öffentlichen Rechtes oder des öffentlich-rechtlichen Sondervermögens ist.
            </li>
            <li>
                Diese Nutzungsbedingungen sind ebenso für Ihre gesetzlichen Nachfolger, Verwalter und Vertreter gültig.
            </li>
            <li>
                Sollten einzelne Bestimmungen dieser Nutzungsbedingungen oder sonstiger Vereinbarungen mit dem Kunden ganz oder teilweise unwirksam sein oder werden, so wird hierdurch die Gültigkeit der übrigen Bestimmungen nicht berührt. Die ganz oder teilweise unwirksame Regelung soll durch eine Regelung ersetzt werden, deren wirtschaftlicher Erfolg dem der unwirksamen möglichst nahe kommt.
            </li>
        </ol>
    </li>
</ol>