{% extends "RotexSbpCoreBundle::modal.html.twig" %}

{% block id %}terms-of-service-template{% endblock %}

{% block title %}
    {{ 'core.general.label.termsOfService' | trans }}
{% endblock %}

{% block body %}
    {% include 'RtxLabsUserBundle:Registration:termsOfServiceTemplate.' ~ app.request.locale |slice(0, 2) ~ '.html.twig' %}
{% endblock %}

{% block footer %}
    <a class="btn close-modal" data-dismiss="modal">{{ 'core.general.label.close' | trans }}</a>
{% endblock %}