<script type="text/template" id="reactivation-template">
    <div class="row">
        <div class="span6 confirmed">
            <legend>{{ 'rtxlabs.user.reactivation.title' | trans }}</legend>
            {{ 'rtxlabs.user.reactivation.information' | trans }}<br />
        </div>
    </div>
</script>